html, body {
    background-color: black;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body video {
    transition: filter 250ms linear;
}

body.loading video {
    filter: grayscale(1) brightness(0.25);
}

body.loading:before {
    content: "Loading Model...";
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 20px;
    font-size: 3em;
    font-weight: bold;
    z-index: 100;
}

html, body, video, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

video, canvas {
    position: fixed;
    top: 0;
    left: 0;
}

/* CSS to hide the Roboflow watermark, if it's placed with after pseudo-element */
body:after {
    display: none !important;
}

/* Hide any potential Roboflow logo div (replace .roboflow-logo with the actual class if found) */
.roboflow-logo {
    display: none !important;
}

#fps {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#fps:empty {
    display: none;
}

#fps:after {
    content: " fps";
}
